.content{
    display: flex;
    flex-direction: column;
    color: black;
}

.task-container{
   
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
}

.task-input{
   
    display: flex;
    flex-direction: row;
}

.title-box{
    display: flex;
    flex-direction: row;

}
.input-field{
margin-left: 20px;
}